<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>How can I donate?</summary>
          <p>Currently we are only accepting donations by credit card.</p>
        </details>
      </li>
     </ul>
	  <ul class='col2'>
      <li>
        <details class=''>
          <summary>How will these trees be distributed?</summary>
          <p>Get info from Paul D regarding waiting list.</p>
        </details>
      </li>
    </ul>
  </div>
</div>
