<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is this project about?
      </h3>
      <p>
        Evanston residents love their trees. That's why when the Emerald Ash Borer started to claim the lives of thousands of our park and parkway ash trees over the past few years, we banded together and took action. It started with a few tree-knowledgeable volunteers helping the City maintain some of our current park trees through mulching and removing invasive plant species, such as buckthorn. As interest spread, the City started the "I Heart Evanston Trees" project in order begin a larger discussion about the threats facing our tree population and potential solutions.  
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        What is our goal?
      </h3>
      <p>
        The City of Evanston would like to raise $25,000 in order to plant 100 new trees in parks and parkways throughout Evanston. We will plant a large variety of native species to improve our tree population's resiliency and support a larger diversity of flora and fauna. We want to be a model city to inspire other municipalities to invest in their own green infrastructure, and see the benefits of having cleaner air, reduced storm water run-off, higher property values, and safer neighborhoods.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        What will my donation do?
      </h3>
      <p>
       Every $250 represents a new tree. All of the revenue raised is going strictly towards the purchase of more trees to replace those that have died, and all donations are tax-deductible. With $25,000, we will be able to purchase at least 100 2.5-inch diameter trees from local nurseries. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Where can I get more information?
      </h3>
      <p>
        Our <a href="http://www.cityofevanston.org/forestry/i-heart-evanston-trees/">I Heart Evanston Trees Page</a> on the City of Evanston website offers additional information.
      <p>
    </div>
  </div>
</div>
