<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Is my donation tax-deductible?</h4>
      <p>Yes! Under 26 U.S.C. ยง 170(c)(1) of the tax code, contributions made to political subdivisions for exclusively public purposes are categorized as charitable contributions. However, with all tax matters, we recommend you consult with a CPA.</p>
    </li>
    <li id="section-2">
      <h4>Why are these trees dying?</h4>
      <p>Long story short: The Emerald Ash Borer has devastated our tree population because of our lack of variety in tree species. For a longer explanation visit <a href="http://www.cityofevanston.org/forestry/why-is-evanston-losing-trees/">our page</a> on the City of Evanston website.</p>
	  </p>
    </li>
  </ul>
</div>
